//----------------------------------------------_Обнуление-----------------------------------------------
@use "sass:math";
@import "null-style.scss";
//----------------------------------------------_Шрифты----------------------------------------------
@import "fonts.scss";
//----------------------------------------------_Переменные-----------------------------------------
$maxWidth: 1920;
$maxWidthContainer: 1200;
//----------------------------------------------_Шаблоны------------------------------------------
@function prc($pxOne, $pxTwo) {
	$result: math.div($pxOne, $pxTwo) * 100%;
	@return $result;
}
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}
@function em($px) {
	$result: math.div($px, 16) + em;
	@return $result;
}
//----------------------------------------------_Миксины----------------------------------------------
@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		//Только если меньше контейнера
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type==2 {
		//Только если больше контейнера
		#{$property}: $starSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		//Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

//----------------------------------------------_Настройки-------------------------------------------
body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1 1 auto;
}
._container {
	width: min(100% - 1rem, 1200px);
	margin-inline: auto;
}

//----------------------------------------------Header----------------------------------------------

.main {
	background-color: rgba(239, 247, 130, 0.672);
	&__body {
		padding: 40px 0;
	}

	&__title {
		@include adaptiv-value("font-size", 26, 20, 1);
		margin-bottom: 20px;
		text-align: center;
	}

	&__blocks {
		display: flex;
		flex-direction: column;
		gap: 50px;
		max-width: 900px;
		margin: 0 auto;
	}

	&__block {
	}
}
.block {
	color: #1d1d1d;
	border-radius: 30px;
	background-color: #fff;
	position: relative;
	.number {
		position: absolute;
		top: 20px;
		right: 20px;
		@include adaptiv-value("font-size", 46, 30, 1);
		color: #ccc;
		border-radius: 50%;
		border: 4px solid #ccc;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__image {
		flex: 0 1 30%;
		img {
			width: 200px;
			height: 300px;
			object-fit: cover;
		}
	}

	&__info {
		flex: 0 1 70%;
	}
}
.info {
	&__name {
		@include adaptiv-value("font-size", 22, 18, 1);
		margin-bottom: 15px;
	}

	&__descr {
		@include adaptiv-value("font-size", 18, 16, 1);
		color: rgb(102, 102, 102);
		margin-bottom: 20px;
	}

	&__kolich {
		@include adaptiv-value("font-size", 22, 20, 1);
		margin-bottom: 25px;
	}

	&__price {
		@include adaptiv-value("font-size", 26, 22, 1);
		margin-bottom: 15px;
		font-weight: 700;
		color: rgb(31, 183, 28);
		span {
			display: inline-block;
			margin-left: 50px;
			color: #1d1d1d;
			@include adaptiv-value("font-size", 18, 16, 1);
		}
		input {
			padding: 7px 14px;
			background-color: #f7f7f7;
			border: 1px solid #ccc;
			border-radius: 6px;
		}
	}
}
.rest,
.info__olx {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 30px;
	padding: 30px;
	position: relative;
}
.info__olx {
	padding-right: 100px;
}
.rest {
	border-bottom: 3px solid #ccc;
}
.olx-link {
	a {
		@include adaptiv-value("font-size", 26, 24, 1);
		color: rgb(53, 85, 190);
		border-radius: 15px;
		border: 1px solid rgb(53, 85, 190);
		padding: 7px 14px;
	}
}
.title-olx {
	position: absolute;
	top: 5%;
	left: 0;
	img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		padding: 5px;
	}
}
.olx-image {
	flex: 0 1 30%;
	img {
		width: 200px;
		height: 200px;
		object-fit: cover;
	}
}
.olx {
}
